#header {
    background-image: linear-gradient(
        to left bottom,
        #ddabdc,
        #d0aae0,
        #c2a9e4,
        #b2a8e7,
        #a0a8e8,
        #8fadea,
        #7db1ea,
        #6db5e8,
        #62bde4,
        #60c4dc,
        #69c9d3,
        #78cec9
    );
    min-height: 100vh;
}
.navbar-brand {
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
}
.nav-item {
    font-size: 2.5rem;
}
nav ul li::after {
    content: "";
    width: 0;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 80%;
}
.navbar {
    font-size: larger;
}

.bar {
    padding: 0 4rem;
    margin-bottom: 1rem;
}
.container-left {
    width: 500px;
}

.container-left .container-right {
    z-index: 1;
    flex: 1;
}

.container-left {
    padding-top: 50px;
    padding-left: 40px;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.couples-img {
    height: 500px;
}

.details-img {
    position: absolute;
    width: 40%;
    bottom: 100px;
    right: 300px;
}

.stats-container {
    display: flex;
    margin-top: 50px;
}

.text-small {
    display: flex;
    align-items: center;
    justify-content: center;
}
